@import url(https://fonts.googleapis.com/css?family=Sail);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
header {
	font-family: 'Sail', cursive;
	color: #F4A261;
	font-size: 3em;
	text-align: left;
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	width: auto;
	border-bottom: 2px solid #F4A261;
	color: #534D56;
	background-color: #E8C66A;
	border: 1px black solid;
	padding:30px;
}
h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 2em;
	color: #534D56;
	background-color: rgba(251, 251, 242, .7);
	padding-top: 1em;
	padding-bottom: 1em;
}
h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	font-color: #534D56;
	padding-top: 1em;
	padding-bottom: 0.5em;
}
p {
	font-family: 'Josefin Slab', serif;
	font-size: 1em;
	width: 35em;
	margin: 1em auto 2em;
	line-height: 1.7em;
	text-align: center;
	font-color: #534D56;
}
section {
	padding-bottom: 25px;
	border-top: 2px solid #F4A261;
	color: #534D56;
	background-color: #E89C6C;
	border: 1px black solid;
	clear: both;
}
figure {
	float: left;
	margin: 1%;
}
figcaption {
	font-family: 'Josefin Slab', serif;
	font-size: 1em;
	padding-top: 1em;
	text-align: center;
}
a {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	text-decoration: none;
}
a:link {
	color:#534D56;
}
a:visited {
	color:#534D56;
}
a:hover {
	color:#F4A261;
}
a:active {
	color:#534D56;
}
ul {
	font-family: 'Josefin Slab', serif;
	font-size: 1em;
	text-align: center;
	font-color: #534D56;
	line-height: 2em;
}
footer {
	display: inline-block;
	float: right;
	border-top: 2px solid #F4A261;
	color: #534D56;
	text-align: right;
	padding-top: 2px;
	background-color: #E89C6C;
	width: 100%;
	border: 1px black solid;
	padding: 20px;
}
nav a {
	display: inline-block;
	float: right;
	width: auto;
	padding-left: 10px;
	text-align: center;
	margin-left: 20px;
	font-size: 1em;
	text-transform: uppercase;
	line-height: 0.5em;
	letter-spacing: 0.1em;
}
footer a {
	clear: all;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding-bottom: 10px;
	padding-right: 10px;
	/*background-color: #FFC675;
	border: 1px black solid;*/
	padding: 20px;
}
#wrapper {
	width: auto;
	margin:0 auto;
	background-color: #FBFBF2;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
#soaps {
	/*width: auto;
	padding-top: 2%; 
	padding-left: 15%;
	padding-right: 15%;*/
	padding-top: 2%;
	padding-left: 16%;
	padding-right: 16%;
	/*background-color: #FFE2B8;*/
	background-color: #E89C6C;
	/*border: 1px black solid;*/
}
#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding:20px;
}
#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding:20px;
	float: left;
	width: 62%;
}
#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding:20px;
	float:right;
	width: 30%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " "; 
	clear: both;
	height: 0;
}


