@import url(https://fonts.googleapis.com/css?family=Sail);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

header {
	font-family: 'Sail', cursive;
	color: #F4A261;
	font-size: 3em;
	margin-left: 20px;
	text-align: left;
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	width: 900px;
	margin:0 auto;
	border-bottom: 2px solid #F4A261;
	color: #534D56;
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
div {
	/*width: 900px;
	margin: 0 auto;
	padding-top: 4px;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;*/
}
h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 2em;
	color: #534D56;
	background-color: rgba(251, 251, 242, .7);
	padding-top: 1em;
	padding-bottom: 1em;
}
h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	font-color: #534D56;
	padding-top: 1em;
	padding-bottom: 0.5em;
}
p {
	font-family: 'Josefin Slab', serif;
	font-size: 1em;
	width: 35em;
	margin: 1em auto 2em;
	line-height: 1.7em;
	text-align: center;
	font-color: #534D56;
}
article {
	padding-bottom: 25px;
	border-top: 2px solid #F4A261;
	color: #534D56;
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
ul {
	font-family: 'Josefin Slab', serif;
	font-size: 1em;
	text-align: center;
	font-color: #534D56;
}
a {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	text-decoration: none;
}
a:link {
	color:#534D56;
}
a:visited {
	color:#534D56;
}
a:hover {
	color:#F4A261;
}
a:active {
	color:#534D56;
}
footer {
	border-top: 2px solid #F4A261;
	color: #534D56;
	text-align: right;
	padding-top: 2px;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
nav a {
	display: inline-block;
	float: right;
	clear: left;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
aside a {
	float: right; 
	clear: both;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding-bottom: 10px;
	padding-right: 10px;
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " "; 
	clear: both;
	height: 0;
}
.box {
	background-image: url("../images/wrapped1.jpg");
	opacity: .8;
	width: 290px;
	height: 300px;
	margin: 3.5px;
	display: inline-block;
}
#wrapper {
	width: 900px;
	margin:0 auto;
	background-color: #FBFBF2;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
#soaps {
	width: 900px;
	margin: 0 auto;
	padding-top: 4px;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;

}


