body {
	background-image: url("../images/mainpic1a.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.4;
}
h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
	color: #000000;
	text-align: left, top;
	padding: 60px;
}
h2 {
	font-family: Didot, serif;
	font-weight: normal;
	text-align: center;
	font-size: 35px;
	font-color: #ff0000;
	padding: 40px;
	background-color: #ffffff;
}
footer {
	font-family: Didot, serif;
	font-size: 15px;
	text-align: center;
	padding: 200px;
}
#bg {
	/*position: absolute;
	opacity: 0.8;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}
#landing {
	background-image: url(images.mainpic1a.jpg);
	font-family: Futura, sans-serif;
	font-weight: lighter;
	font-size: 30px;
	text-align: center;*/
}


