h1 {
	/*font-family: Futura, sans-serif;
	font-weight: normal;
	font-size: 60px;
	text-align: center;*/
}
h3 {
	font-family: Didot, serif;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
}
footer {
	font-family: Futura, sans-serif;
	font-size: 15px;
	text-align: center;

}
#bg {
	position: absolute;
	opacity: 0.8;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}
#landing {
	background-image: url(images.mainpic1a.jpg);
	font-family: Futura, sans-serif;
	font-weight: lighter;
	font-size: 30px;
	text-align: center;
}


